<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- link css -->
    <link rel="stylesheet" href="/src/styles/main.css" />
    <!-- link bootstrap -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- link fontawesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-custom-1">
    <!-- header -->
    <nav class="navbar navbar-light bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/src/assets/logo.png"
            alt=""
            width="200"
            height="auto"
            class="d-inline-block align-text-top ima-fluid"
          />
        </a>
      </div>
    </nav>
    <!-- end header -->

    <!-- link script main js -->
    <script src="/src/script/index.js"></script>
    <!-- linl scro[t js bootstrap] -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- link script jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  </body>
</html>
