@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

svg {
  margin: -0.75rem !important;
}

/* utilities */

/* custom background-color */
.bg-custom-1 {
  background-color: #f8edeb;
}

.bg-custom-2 {
  background-color: #d00000;
}

.bg-custom-3 {
  background-color: #dc2f02;
}

.bg-custom-4 {
  background-color: #e85d04;
}

.bg-custom-5 {
  background-color: #f48c06;
}

.bg-custom-6 {
  background-color: #faa307;
}

.bg-custom-1g {
  background: rgb(232, 93, 4);
  background: radial-gradient(
    circle,
    rgba(232, 93, 4, 1) 0%,
    rgba(244, 140, 6, 1) 35%,
    rgba(232, 93, 4, 1) 100%
  );
}

.bg-custom-2g {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.bg-custom-2g:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(190, 96, 252) 0%,
    rgb(248, 80, 80) 50%,
    rgb(255, 191, 103) 100%
  );
  transform: scale(1.1);
}

.bg-custom-6:hover {
  background-color: #ffb731;
  border-radius: 20px;
}

/* custom text align */
.text-justify {
  text-align: start;
}

/* custom font color */
.fsc-1 {
  color: #03071e;
}

/* custom margin */
.mtc-1 {
  margin-top: 14rem;
}

/* latter spacing */
.ls-1 {
  letter-spacing: 2px;
}

.ls-2 {
  letter-spacing: 3px;
}

.ls-3 {
  letter-spacing: 4px;
}

.ls-4 {
  letter-spacing: 5px;
}

hr {
  color: #fff;
  width: 2rem;
}

/* add class */
.jumbotron {
  background-image: url(/src/assets/jumbotron-1.png);
  width: 100%;
  background-size: cover;
  height: 100% !important;
  object-fit: cover;
  opacity: 1;
  box-shadow: 0 0 5px 2px #282a2d;
}

/* main style */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border-top: 16px solid #dc2f02;
  border-right: 16px solid #d00000;
  border-bottom: 16px solid #f48c06;
  border-left: 16px solid #03071e;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

/* mobile style */
@media screen and (max-width: 994px) {
  .jumbotron-content {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
}
